/* now this is where you design your website at. such as colors, size, and layout.*/
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Poppins";
  font-weight: 400;
  background-image: url("images/home.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bgpic {
  background-image: url("images/15.jpg");
  background-repeat: no-repeat;
}

.bgpic1 {
  background: url("images/14.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bgpic2 {
  background: url("images/13.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bgpic3 {
  background: url("images/12.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  padding: 8px;
}

.logo {
  float: left;
  padding: 8px;
  margin-left: 16px;
  margin-top: 8px;
}

.logo a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0px;
  text-decoration: none;
}

.logo a:hover {
  color: #fff;
  background: #000;
  padding: 10px;
  margin-left: -10px;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  float: left;
}

nav ul li:not(:first-child) {
  margin-left: 48px;
}


nav ul li:last-child {
  margin-right: 24px;
}

nav ul li a {
  display: inline-block;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1.2px;
  font-weight: 600;
}

@media screen and (max-width: 864px) {
  .logo {
    padding: 0;
  }
  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff;
    opacity: 0;
    transition: all 0.2s ease;
  }

  .nav-wrapper ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  .nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }

  .nav-wrapper ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }

  .nav-wrapper ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }

  .nav-wrapper ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }

  .nav-wrapper ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }

  .nav-wrapper ul li:not(:first-child) {
    margin-left: 0;
  }

  .nav-wrapper ul li a {
    padding: 10px 24px;
    opacity: 0;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.2px;
    transform: translateX(-20px);
    transition: all 0.2s ease;
  }

  .nav-btn {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 2px;
    margin-left: 14px;
  }

  .nav-btn i:nth-child(1) {
    margin-top: 16px;
  }

  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }
}

#nav:checked + .nav-btn {
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #000;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(270deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}

.hidden {
  display: none;
}

.header {
  text-align: center;
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}


/*
@font-face {
  font-family: Nexa;
  src: url('Nexa-Bold.otf') format('opentype');
} */
.header h1 {
  text-transform: uppercase;
  font-family: 'Poppins';
  /* font-family: 'Nexa Bold'; */
  font-size: 110px;
}

.h1 {
  color: #fff;
}

span {
  color: #fff;
  background: #000;
  padding: 15px;
}

@media screen and (max-width: 864px) {
  .header h1 {
    font-size: 45px;
    transition: all 0.2s ease;
  }
}

.header p {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin-top: 20px;
}

@media screen and (max-width: 864px) {
  .header p {
    font-size: 12px
  }
  .image p {
    color: #000;
  }
}

.image {
  margin-top: 100px;
  width: 100%;
  height: 80%;
}

.image img {
  border: 2px solid black;
  border-radius: 3px;
  display: block;
  margin-left: auto;
  margin-right: 35%;
  width: 30%;
}

.image h1 {
  color: #000;
  font-size: 20px;
  width: 30%;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

.image p {
  color: #fff;
  font-size: 17px;
  text-align: justify;
  width: 30%;
  margin: 0 auto;
  margin-top: 20px;
}

.image a {
  color: #505050;
}

@media screen and (max-width: 864px) {
  .image p {
    width: 80%;
    color: white;
  }
  .image img {
    width: 60%;
    margin-left: 20%;
  }
  .image h1 {
    font-size: 14px;
  }
}

.form-container {
  width: 50%;
  height: 400px;
  margin: 0 auto;
  margin-top: 150px;
  /* margin: auto; */
  color: #fff;
}

.form-title {
  text-align: center;
  margin-bottom: 30px;
}

.form-container form {
  margin: auto;
  text-align: center;
  padding: 0;
  /* font-weight: 700; */
}

.form-container form .form-text {
  width: 400px;
  height: 30px;
}


.form-container form .form-text1 {
  width: 400px;
  height: 100px;
}

.form-btn {
  width: 100px;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 700;
  background: #000;
  color: #fff;
  padding: 10px;
  border: 1px solid #000;
  margin: 10px;
}

.form-btn:hover {
  color: #000;
  background: #fff;
  border: 1px solid #000;
  cursor: pointer;
}

@media screen and (max-width: 864px) {
  .form-container form .form-text  {
    width: 75%;
  }
  .form-btn {
    width: 60px;
    font-size: 10px;
  }
  .form-container form .form-text1  {
    width: 75%;
  }
}

.product-contain p {
  width: auto;
  font-size: 20px;
  height: 40px;
  margin-top: 25px;
}

@media screen and (max-width: 864px) {
  .product-contain h1 {
    font-size: 20px;
  }
  .product-contain p {
    font-size: 10px;
  }
}

.row {
  display: flex;
  margin-top: 1100px;
  background: white;
}

.column {
  flex: 90%;
  margin: 1%;
}

.column img {
  width: 100%;
  margin-left: 35%;
}

.column p {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}

@media screen and (max-width: 864px) {
  .row {
    margin-top: 600px;
    flex: 0;
    display: block;
  }
  .column {
    padding: 2%;
  }
  .column p {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 12px;
  }
}


.style-icons {
  display: flex;
  /* height: 600px; */
  margin-top: 1100px;
  background: white;
}

/* Edits by brandon below 9-22 1:11PM */

.style-columns {
  flex: 90%;
  margin: 3%;
}

.style-columns img {
  width: 100%;
  margin-left: 25%;
}

.style-columns p {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}


/* You dont need those things for alot maybe? */

.style-columns img:hover {
  cursor: pointer;
}

@media screen and (max-width: 864px) {
  .style-icons {
    background: white;
    margin-top: 700px;
    flex: 0;
    display: block;
  }
  .style-columns p {
    font-size: 16px;
    width: 50%;
    margin-top: 10px;
    text-align: center;
    margin: 0 auto;
  }
}

.landbody {
  background: url(stock.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.landheader {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  position: absolute;
  top: 25%;
  left: 25%;
}

.landhead {
  text-transform: uppercase;
  color: white;
  font-size: 40px;
}

.twobtns {
  width: 100%;
  font-size: 20px;
  color: white;
  display: flex;
  text-align: center;
}

.twobtns .textport {
  flex: 90%;
  margin: 1%;
  text-align: center;
}

.port a {
  color: white;
  background: #393931;
  padding: 20px 40px 20px 40px;
  text-decoration: none;
  text-align: center;
  margin: 20px;
}

.port {
  margin-top: 50px;
}
